[submodule "cplusplus/cplusplus11"]
	path = cplusplus/cplusplus11
	url = ../cplusplus11.git
[submodule "cplusplus/cpputility"]
	path = cplusplus/cpputility
	url = ../cpputility.git
[submodule "Python"]
	path = Python
	url = ../Python.git
